body {
    background-color: #E9ECEF  ;
}

.sayfa {
    text-align: center;
    color: red;
}

.sayfa1 {
    text-align: center;
}

.renk {
    color: orange;
}

.hk1 {
    background-color: #E9ECEF;
}

.h1 {
    margin-top: 15px;
}

.col {
    background-color: #E9ECEF;
}